{% extends "layouts/base_index.html" %}

{% block content %}
<div class='span-6'>
<form method="post" action=".">
  {{ csrf() }} 
  {{ form.as_p()|safe }}

  <input type="submit" value="{{ _('Log in') }}" />
  <input type="hidden" name="next" value="{{ next }}" />
</form>

<p>{{ _("Forgot password") }}? <a href="{{ url("auth_password_reset") }}">{{ _("Reset it") }}</a>!</p>
<p>{{ _("Not member") }}? <a href="{{ url("registration_register") }}">{{ _("Register") }}</a>!</p>
</div>
<div class='span-6 last'> </div>
{% endblock %}
