{% extends "layouts/base_index.html" %}

{% block content %}
<div class='span-4'>
<form method="post" action=".">
  {% csrf_token %} 
  {{ form.as_p|safe }}

  <input type="submit" value="{{ _('Submit') }}" />
</form>
</div>
{% endblock %}
