{% extends "layouts/base_index.html" %}

{% block content %}

{% if validlink %}

<form method="post" action=".">
  {% csrf_token %}
  {{ form.as_p|safe }}

  <input type="submit" value="{{ _('Submit') }}" />
</form>

{% else %}

<p>{{ _("Password reset failed" }}</p>

{% endif %}

{% endblock %}
