<!DOCTYPE html>
<html class="no-js" lang="ko">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="" />
    <title>joinuskorea.org</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />

    <link href="{{ MEDIA_URL }}/css/gravity/stylesheets/css/style.css" rel="stylesheet" type="text/css" />
    <link href="{{ MEDIA_URL }}/default/menu.css" rel="stylesheet" type="text/css" />
    <!--[if lt IE 8]>
    <script src='http://html5shim.googlecode.com/svn/trunk/html5.js'></script>
    <![endif]-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    <script type="text/javascript"> 
        // wait for the DOM to be loaded 
        $(document).ready(function() { 

        }); 
    </script> 
  </head>

<body>
    <div class='container'>
      <section>
        <div class='span-6'><h1>{% block heading %} {% endblock %}</h1></div>
        <div class='span-6 last'>
          <form action="/i18n/setlang/" method="post">
            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
            <input name="next" type="hidden" value="{{ redirect_to }}" />
            <select name="language">
              {% for language in LANGUAGES %}
                <option value="{{ language|slice(0) }}">
                  {{ language|slice(1) }} ({{ language|slice(0) }})
                </option>
              {% endfor %}
            </select>

            <input type="submit" value="{{ _("set language") }}" />
          </form>
        </div>
      </section>

      <section>
        {% block content %} {% endblock %}
      </section>

<!--
      <section class='section-2'>
        <h3>Rails Helpers</h3>
        <div class='error'>Error message</div>
        <div class='notice'>Notice</div>
        <div class='success'>Success message</div>
      </section>
      <section class='section-3'>
        <div class='span-5'>
          <img src='http://placehold.it/300x200' />
        </div>
        <div class='span-6'>
          <img src='http://placehold.it/300x200' />
        </div>
        <div class='span-5'>
          <img src='http://placehold.it/300x200' />
        </div>
      </section>
-->
	</div>
</body>
</html>
