<!DOCTYPE html>
<html class="no-js" lang="ko">
  <head>
{% block head %}
    <title>{% block title %}App Name{% endblock %}</title>
    {% block meta %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="{% block meta_description %}{% endblock %}">
        <meta name="author" content="{% block meta_author %}{% endblock %}">
    {% endblock %}

    {% block css %}
		<link rel="stylesheet" href="{{ MEDIA_URL }}css/gravity/stylesheets/css/style.css" type="text/css" media="screen" />
    	<!-- 
    	<link rel="stylesheet" href="/s/css/print.css" type="text/css" media="print" />
  		<link rel="stylesheet" href="/s/css/docs/docs.css" type="text/css" />
  		 -->
  		<link rel="stylesheet" href="{{ MEDIA_URL }}default/menu.css" type="text/css" />
    {% endblock %}

    {% block js_library %}
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="{{ MEDIA_URL }}js/joko.js"></script>
    {% endblock %}


    {% block js_script %} 
        <script type="text/javascript"> 
            $(document).ready(function() { 
                {% if request.path|slice:"10" == "/board/jkt" %}
                    top_menu('jkt');
                {% elif request.path|slice:"10" == "/board/jis" %}
                    top_menu('jisik');
                {% else %}
                    top_menu('about');
                {% endif %}

                $('#joko_jkt').click(function() { top_menu('jkt'); });
                $('#joko_jisik').click(function() { top_menu('jisik'); });
                $('#joko_about').click(function() { top_menu('about'); });

                {% block jquery_script %} {% endblock %}
            }); 
        </script>
    {% endblock %}
{% endblock %} 
  </head>

<body>
    <div class='container'>
      <h1 class='center'>{% block heading %} {% endblock %}</h1>

      {% include "menu.html" %}

      <section class='section-1'>
        <div class='span-4'>

<!--
        <form id="login_form" action="" method="post">
          <fieldset>
            <legend>로그인</legend>
	      <label for="user_id">아이디</label>
	      <input type="text" id="login_id" name="login_id" value="">
	      <label for="user_password">패스워드</label>
	      <input type="password" id="login_pass" name="login_pass" value="">
              <input type="submit" value="로그인" class="button">
              <a href="/board/post/create" class='button'>회원 가입</a>
          </fieldset>
        </form>
-->
          {% block left_menu %} {% endblock %}
        </div>
        <div class='span-8'>
            {% block content %} {% endblock %}
        </div>
        <div class='span-4'>

        </div>
      </section>

<!--
      <section class='section-2'>
        <h3>Rails Helpers</h3>
        <div class='error'>Error message</div>
        <div class='notice'>Notice</div>
        <div class='success'>Success message</div>
      </section>
      <section class='section-3'>
        <div class='span-5'>
          <img src='http://placehold.it/300x200' />
        </div>
        <div class='span-6'>
          <img src='http://placehold.it/300x200' />
        </div>
        <div class='span-5'>
          <img src='http://placehold.it/300x200' />
        </div>
      </section>
-->

      <section class='section-4'>
        <div class="span-16">
          <hr />
	    <div id="valid-badges">
	      <p>
	        <a href="http://jigsaw.w3.org/css-validator/check/referer">
	          <img style="border:0;width:88px;height:31px" src="http://jigsaw.w3.org/css-validator/images/vcss-blue" alt="Valid CSS!" />
	        </a>
	      </p>
	      <p>
	        <a href="http://validator.w3.org/check?uri=referer">
	          <img src="http://www.w3.org/Icons/valid-xhtml10" alt="Valid XHTML 1.0 Strict" height="31" width="88" />
	        </a>
	      </p>
	    </div>
          </div>
      </section>
</body>
</html>
