{% extends "layouts/base_index.html" %}

{% block heading %} {{ _("join us korea") }} {% endblock %}

{% block content %}
	<div class='span-6'>

		<form method="post" action="/accounts/login/">
    		{% csrf_token %}
    		{{ login_form.as_p|safe }}

		    <input type="submit" value="{{ _("Login") }}" />
		    <input type="hidden" name="next" value="{{ next }}" />
		</form>

	</div>
	<div class='span-6'>

		<form method="post" action="/accounts/register/">
    		{% csrf_token %}
    		{{ register_form.as_p|safe }}

    		<input type="submit" value="{{ _("Register") }}" />
		</form>

	</div>
{% endblock %}
