<div id="topbar">
    <a href="#" id="joko_home"><span>{{ _("Home") }}</span></a>
    <a href="#" id="joko_jisik"><span>{{ _("지식Q/A") }}</span></a>
    <a href="#" id="joko_jkt"><span>{{ _("JK 타운") }}</span></a>
    <a href="#" id="joko_about"><span>{{ _("ABOUT JK") }}</span></a>
    {% if user.is_authenticated %}
        <a href="#" style="float: right;" class="active">
        	<span> {{ _("Logged in") }}: {{ user.username }} </span>
        </a>
        (<a href="{% url "auth_logout" %}" style="float: right;" class="active">
        	<span>{{ _("Log out") }}</span></a> | 
        <a href="{% url "auth_password_change" %}" style="float: right;" class="active">
        	<span>{{ _("Change password") }}</span></a>)
    {% else %}
        <a href="{% url "auth_login" %}" style="float: right;" class="active">
        	<span>{{ _("Log in") }}</span>
        </a>
    {% endif %}
</div>

<div id="middlebar"> </div>
