{% extends "layouts/base.html" %}

{% block heading %} {{ _("post article") }} {% endblock %} 

{% block content %}
<form action="{% url "joko.board.post_create" board_id %}" method="post">
    {% csrf_token %}
    {{ post_form.as_table }}
    <!-- 
    {{ post_form.title }}
    {{ post_form.email }}
    {{ post_form.writer }}
    {{ post_form.tags }}
    {{ post_form.langs }}
    {{ post_form.content }}
     -->
    <p>
    	<input type="submit" value="{{ _("post article") }}" /> 
    	<a href="{% url "joko.board.post_list"  board_id %}" class='button'>{{ _("Board") }}</a>
    </p>
</form>
{% endblock %}
