{% extends "layouts/base.html" %}  

{% block heading %}Delete Post?{% endblock %}

{% block content %}

<div class="alert-message">
    <span class="message">
        Do you really want to delete this post?
    </span>
	<form id="delete_form" action="{% url 'joko.board.post_delete' board_id post_id %}" method="post">
		<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
		<input type='hidden' name='board_id' value='{{ board_id }}' />
		<input type='hidden' name='post_id' value='{{ post_id }}' />
  		{% include "form_snippet.html" with form=opinion_form %}
  		<p><input id="delete_form_submit" type="submit" value="{{ _("Delete") }}" /> </p>
	</form>
</div>
{% endblock %}
