{% extends "layouts/base.html" %}
{% load i18n %}

{% block heading %} {{ _("view post") }} !{% endblock %}

{% block content %}
<table>
   <thead>
   <tr>
      <th>{% trans "ID" %}</th> <th> {{ post.id }}  </th>
   </tr>
   <tr>
      <th>{% trans "Title" %} </th> <th> {{ post.title }} </th>
   </tr>
   <tr>
      <th>{% trans "Writer" %}</th> <th> {{ post.writer }} </th>
   </tr>
   <tr>
      <th>{% trans "Email" %}</th> <th> {{ post.email }} </th>
   </tr>
   <tr>
      <th>{% trans "Date" %}</th> <th> {{ post.regdate }} </th>
   </tr>
   <tr>
      <th>{% trans "Recommendation" %}</th> <th> {{ post.votecnt }} </th>
   </tr>
   <tr>
      <th>{% trans "Tags" %}</th> <th> {% for tag in post.tags %} {{ tag }}, {% endfor %} </th>
   </tr>
   <tr>
      <th>{% trans "Languages" %}</th> <th> {% for lang in post.langs %} {{ lang }}, {% endfor %} </th>
   </tr>
   </thead>
   <tbody>
   <tr>
     <td><b>{% trans "Content" %}</b></td> <td> {{ post.content|linebreaksbr }} </td>
   </tr>
   <tr>
     <td colspan="2">
		<div class="recommend">
	        <form id="recommend_form" action="{% url "joko.board.post_recommend" board_id post.id %}" method="post">
	          <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
	          <input type='hidden' name='votecnt' value='5' />
	          <p align="right"><input id="recommend_form_submit" type="submit" value="{{ _("recommend") }}" /> </p>
	        </form>
		</div>
     </td>
   </tr>
   <tr>
     <td colspan="2">
        {% ifequal user.username post.user_id %}
		<div class="post_menu">
			<a href="{% url "joko.board.post_edit" board_id post.id %}" class='button'>{{ _("edit") }}</a>
			<a href="{% url "joko.board.post_delete" board_id post.id %}" class='button'>{{ _("delete") }}</a>
		</div>
        {% endifequal %}
     </td>
   </tr>
   </tbody>
</table>

<div class="comment">
    {% trans "Comment" %}
<table>
   <thead> </thead>
   <tbody>
{% for comment in comments %}

<!-- 
	{% block jquery_script %}
		$("#opinion_form_submit").click(function() {
		    $.ajax({type:'POST', url:$('#opinion_form').attr("action"), data:$('#opinion_form').serialize(), success: function(response) {
		        $('#ContactForm').find('.form_result').html(response);
		    }});
		});
	{% endblock %}
 -->

   <tr>
      <th>{% trans "Writer" %}</th><th>{{ comment.writer }}</th>
      <th>{% trans "Email" %}</th><th>{{ comment.email }}</th>
   </tr>
   <tr>
     <td> {% trans "Comment"  %} </td>
     <td colspan="3"> {{ comment.content|linebreaksbr }} </td>
   </tr>
   <tr>
      <td>{% trans "Date" %}</td> <td colspan="3"> {{ comment.regdate }} </td>
   </tr>
   <tr>
     <td colspan="4">

       <div id="opnion_{{ comment.id }}_list">
       {% load joko_post_filters %}
	       {% for opinion in comment.opinions %}
		       	{% with opinion|opiniondict as opidict %}
		       		{{ opidict.opinionType|opinionTypeName }} | 
		       		{{ opidict.content }} | 
		       		{{ opidict.update_time }} <br/>
				{% endwith %}
	       {% endfor %}
       </div>

     </td>
   </tr>
   <tr>
     <td colspan="4">

        <form id="opinion_form" action="{% url 'joko.board.opinion_create' %}" method="post">
          <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
          <input type='hidden' name='comment_id' value='{{ comment.id }}' />
          <input type='hidden' name='board_id' value='{{ board_id }}' />
          <input type='hidden' name='post_id' value='{{ post.id }}' />
          {% include "form_snippet.html" with form=opinion_form %}
          <p><input id="opinion_form_submit" type="submit" value="{{ _("leave opinion") }}" /> </p>
        </form>

      </td>
   </tr>
   <tr>
      <td colspan="4"> </td>
   <tr>
{% endfor %}
   </tbody>
</table>

<form action="{% url "joko.board.comment_create" %}" method="post">
    {% csrf_token %}
    {% include "form_snippet.html" with form=comment_form %}
    <p><input type="submit" value="{{ _("submit commnet") }}" /> </p>
</form>
</div>

<hr/>

<div class="board_menu">
    <a href="{% url "joko.board.post_list" board_id %}" class='button'>{{ _("Board") }}</a>
    <a href="{% url "joko.board.post_create" board_id %}" class='button'>{{ _("Posting") }}</a>
</div>
{% endblock %}
