{% extends "base.html" %}

{% block heading %}Logged in!{% endblock %} 

{% block content %}
<form action="/board/create" method="post">
    {% include "form_snippet.html" with form=board_form %}
    <p><input type="submit" value="Submit comment" /> <a href="/board/list" class='button'>게시판</a></p>
</form>
{% endblock %}
