{% extends "base.html" %}  

{% block heading %} 게시글 보기 !{% endblock %}

{% block content %}
<table>
   <thead>
   <tr>
      <th>아이디</th> <th> {{ post.id }}  </th>
   </tr>
   <tr>
      <th>제목</th> <th> {{ post.title }} </th>
   </tr>
   <tr>
      <th>글쓴이</th> <th> {{ post.writer }} </th>
   </tr>
   <tr>
      <th>이메일</th> <th> {{ post.email }} </th>
   </tr>
   <tr>
      <th>날짜</th> <th> {{ post.regdate }} </th>
   </tr>
   </thead>
   <tbody>
   <tr>
     <td> 내용 </td> <td> {{ post.content }} </td>
   </tr>
   </tbody>
</table>

<div class="comment">
    코멘트
<table>
   <thead>
   </thead>
   <tbody>
{% for comment in comments.object_list %}
   <tr>
      <th>아이디</th> <th> {{ comment.id }} </th>
      <th>글쓴이</th> <th> {{ comment.writer }} </th>
      <th>이메일</th> <th> {{ comment.email }} </th>
      <th>날짜</th> <th> {{ comment.regdate }} </th>
   </tr>
   <tr>
     <td> 코멘트 </td>
     <td> {{ comment.cotent }} </td>
   </tr>
{% endfor %}
   </tbody>
</table>

<form action="/board/comment/create" method="post">
    {% include "form_snippet.html" with form=comment_form %} 
    <p><input type="submit" value="Submit comment" /> <a href="{% url board.post_list %}" class='button'>게시판</a></p>
</form>
</div>
<div class="board_menu">
    <a href="/board/create" class='button'>글쓰기</a>
</div>
{% endblock %}
