{% extends "base.html" %}  

{% block heading %}Logged in!{% endblock %}

{% block content %}
<table>
   <thead>
   <tr>
      <th>아이디</th>
      <th>제목</th>
      <th>글쓴이</th>
      <th>이메일</th>
      <th>날짜</th>
   </tr>
   </thead>
   <tbody>
{% for post in posts.object_list %}
   <tr>
     <td> {{ post.id }} </td>
     <td> <a href="{{ post.get_absolute_url }}"> {{ post.title }} </a> </td>
     <td> {{ post.writer }} </td>
     <td> {{ post.email }} </td>
     <td> {{ post.regdate }} </td>
   </tr>
{% endfor %}
   </tbody>
</table>

<div class="pagination">
    <span class="step-links">
        {% if posts.has_previous %}
            <a href="?page={{ posts.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
        </span>

        {% if posts.has_next %}
            <a href="?page={{ posts.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
<div class="board_menu">
    <a href="/board/create" class='button'>글쓰기</a>
</div>
{% endblock %}
